$mainBgColor: #3b002d;
$footerHeight: 100px;
%contentBgColor{
  background-color: #211030;
}

.post,
.author,
.social-icons,
.subscribe-section,
.search-section,
.tags,
.comments {
  @extend %contentBgColor;
}

%additionalBgColor {
  background-image: linear-gradient(-120deg, #010629, #97334E, #e66e12);
}

.header,
.footer {
  @extend %additionalBgColor
}

%logoSize {
  width: 10%;
}

.header-logo,
.footer-logo {
  @extend %logoSize
}

%mainFont {
  font-family: 'Hind', sans-serif;
  color: #edf1f7;
}

.nav_item,
.post-title,
.author,
.comment,
.tags,
.subscribe-section,
.search-section {
  @extend %mainFont
}


body {
  background-color: $mainBgColor;

  }

.fas, .fab {
  color: white;
}

i {
  font-size: 30px;
}

