@media screen {

  %iconStyle {
    letter-spacing: 10px;
    text-decoration: none;
    font-size: 25px;
  }

  %btnStyle {

  }

  body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header header" ". main main aside ." "footer footer footer footer footer";
    position: relative;
    grid-gap: .5% .5%;

    *:after {
      position: absolute;
      top: 0;
      left: 0;
    }

    > .header {
      grid-area: header;
      max-height: $footerHeight;
      height: $footerHeight;
      grid-column-start: 1;
      grid-column-end: 6;

      > .header-wrap {
        display: flex;

        > .header-logo {
          background-image: url(../img/logo.png);
          height: $footerHeight;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          margin-left: 0.5%;
        }

        > .header-nav {
          margin-left: auto;
          display: flex;
          align-items: center;
          margin-right: 10px;
          margin-top: 10px;

          > .social {
            align-self: flex-start;
            display: flex;
            margin-right: -210px;

            > a:first-child {
              margin-right: 75px;
            }

            > a > i {
              @extend %iconStyle
            }

          }

          > .navigation {
            align-self: flex-end;
            display: flex;

            > .nav_item {
              text-decoration: none;
              margin-right: 20px;
              font-size: 20px;
            }
          }
        }


        > .hamburger {
          display: none;
        }
      }
    }

    > .content {
      grid-area: main;

      > .posts-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2% 2%;

        > .post {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-content: center;
          align-items: flex-start;
          height: fit-content;

          > .post-img {
            > img {
              width: 100%;
            }
          }

          > .post-title {
            align-self: center;
          }

          > .post-description {
            text-align: justify;
            font-family: 'Hind', sans-serif;
            font-weight: lighter;
            line-height: 20px;
            color: lightgray;
            margin: auto;
            padding: 0 5%;
          }

          > .post-info {
            width: -webkit-fill-available;
            padding-left: 5%;
            padding-right: 5%;

            > p {
              display: inline-block;
              color: white;

              > i {
                font-size: 16px;
              }
            }

            > p:not(:first-child) {
              float: right;
              margin-left: 5%;
            }

          }
        }
      }
    }

    > .aside-section {
      grid-area: aside;
      display: grid;
      grid-template-rows: 16.5% 4% 12% 4% 10% 30%;
      grid-template-areas: "author" "social" "subscribe" "search" "tags" "comments";
      grid-gap: 0.5%;

      > .author {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "header header" "content content" ". .";
        grid-area: author;

        > .author-info-title {
          grid-area: header;
          display: flex;
          justify-content: center;
        }

        > .author-info {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: "image title title" "image info info";
          grid-area: content;
          padding: 2%;

          > .name {
            grid-area: title;
            display: flex;
            justify-content: center;
            margin-top: 0;
          }

          > .author-avatar {
            grid-area: image;

            > img {
              width: 85%;
              border-radius: 50%;
            }
          }

          > .author-description {
            margin-top: -17%;
            grid-area: info;
            font-size: small;
          }
        }

      }

      > .social-icons {
        grid-area: social;
        display: flex;
        justify-content: center;
        padding: 3%;

        > a {
          > i {
            @extend %iconStyle;
          }
        }
      }

      > .subscribe-section {
        grid-area: subscribe;
        display: flex;
        justify-content: center;

        > form {
          > .form-control {
            padding-top: 6%;
            display: block;
            width: 140px;

            > label {
              white-space: pre-line;
            }
            > button {
              width: 116%;
              height: 30px;
              background-color: rebeccapurple;
              border: 0;
            }
          }
        }
      }

      > .search-section {
        grid-area: search;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > form {
          width: 84%;
          > button {
            width: 29%;
            height: 30px;
            background-color: rebeccapurple;
            border: 0;
            margin-left: 1%;
          }
        }
      }

      > .tags {
        grid-area: tags;
        display: flex;
        align-items: center;
        text-align: center;

        > .cloud {
          display: inline;
          list-style-type: none;
          font-size: smaller;
          padding: 0;

          > li {
            list-style: none;
            display: inline;

            &:hover {
              color: rgb(random(255), random(255), random(255));
            }

            &:nth-of-type(3n + 1) {
              font-size: 1.25em;
              color: rgb(random(255), random(255), random(255));

              &:hover {
                color: rgb(random(255), random(255), random(255));
              }
            }

            &:nth-of-type(4n+3) {
              font-size: 1.5em;
              color: rgb(random(255), random(255), random(255));

              &:hover {
                color: rgb(random(255), random(255), random(255));
              }
            }

            &:nth-of-type(5n - 3) {
              font-size: 1em;
              color: rgb(random(255), random(255), random(255));

              &:hover {
                color: rgb(random(255), random(255), random(255));
              }
            }
          }

        }
      }

      > .comments {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 23.5%);
        grid-gap: 2% 2%;
        grid-area: comments;

        > .comment {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 20% 1fr;
          grid-template-areas: "img name date" "img text text";
          margin: 3%;
          background-color: red;

          > .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: img;

            > .comment-avatar {
              width: 80px;
              height: 80px;
              border-radius: 50%;
            }
          }

          > .user-name {
            grid-area: name;
            font-weight: bold;
            margin-top: 4.8%;
          }

          > .time-ago {
            grid-area: date;
            margin-top: 5.8%;
            font-size: small;
          }

          > .comment-text {
            grid-area: text;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90%;
            margin-top: 5.6%;
            font-size: smaller;
          }
        }
      }
    }

    > .footer {
      display: flex;
      grid-area: footer;
      max-height: $footerHeight;
      height: $footerHeight;

      > .footer-logo {
        background-image: url(../img/logo.png);
        height: $footerHeight;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0.5%;
      }

      > .contact {
        margin-left: auto;
        display: flex;
        align-items: center;
        margin-right: 10px;

        > a > i {
          @extend %iconStyle
        }
      }

    }
  }
}
